.time {
  margin-top: 1em;
  display: inline-block;
}
.channel {
  display: inline-block;
}  
.title {
  font-weight:bold;
  display: inline-block;
}
.subTitle {
  font-weight:italic;
  display: inline-block;
}
.afterHeader {
  display:clear;
}
.description {
  margin-left:2em;
}
.label {
  margin-left: 2em;
}
.detail {
  display: inline-block;
}
